* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url("signupbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    margin-top: 0.8cm;
  }

  h1 {
    text-align: center;
    color: rgb(74, 74, 74);
    margin-top: -10px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff47;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  form div {
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #505050;
  }

  #loginbutton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #loginbutton:hover {
    background-color: #505050;
  }
  
  .topnav {
    overflow: hidden;
    background-color: transparent; /* Set the background to transparent */
  }
  
  .topnav a {
    float: left;
    color: white; /* Change the text color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgba(60, 60, 60, 0.538);
    color: rgb(135, 135, 135); /* Change the text color on hover to black */
  }
  
  .topnav a.active {
    background-color: #28282871;
    color: rgb(169, 169, 169);
  }

  #cancelbutton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: -20px;
    background-color: #8a8a8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancelbutton:hover {
    background-color: #545454;
}